{% extends "base.html" %}

{% block title %} Connection details {% endblock %}

{% block content %}
<h1 class="extra-space-top" class="text-center my-4">Connection Details</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p><strong>Public IP Address</strong></p>
            <div class="input-wrapper mb-3">
                <input type="text" value="{{ public_ip }}" id="public_ip" readonly class="form-control form-control-lg">
            </div>

            <p><strong>Public DNS Name</strong></p>
            <div class="input-wrapper mb-3">
                <input type="text" value="{{ public_dns }}" id="public_dns" readonly class="form-control form-control-lg">
            </div>

            <p><strong>Instance ID</strong></p>
            <div class="input-wrapper mb-3">
                <input type="text" value="{{ aws_instance_id }}" id="aws_instance_id" readonly class="form-control form-control-lg">
            </div>
            
            <p><strong>Example SSH Command to Connect to the Instance</strong></p>
            <div class="input-wrapper mb-3">
                <input type="text" value="ssh -i /path/to/your/private-key.pem {{ root }}@{{ public_ip }}" id="example_ssg_command" readonly class="form-control form-control-lg">
            </div>
        </div>
    </div>
</div>

<form id="download-form" method="post" action="{{ url_for('views.download_key') }}">
    <input type="hidden" name="private_key" value="{{ private_ssh_key }}">
</form>

<script type="text/javascript">
    document.getElementById('download-form').submit();
</script>

{% endblock %}