{% extends "base.html" %}

{% block title %} Connection details {% endblock %}

{% block content %}
<h1 align="center" > Connection details </h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>Copy this SSH private key for connecting to the instance</p>
            <div class="input-wrapper">
            <input type="text" value="{{ private_ssh_key }}" id="private_ssh_key" readonly class="form-control" style="height:50px">
            </div>
        </div>
    </div>
</div>

{% endblock %}