{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1 align="center" > Home page </h1>
<h2 align="center">Launch site</h2>

<form method="POST">

    <div class="form-group">
        <label for="dropDownInstanceType">Instance Type</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownInstanceTypeText" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select an option
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownInstanceType">
                <a class="dropdown-item" href="#" 
                    onclick="updateDropdownText('dropDownInstanceTypeText', 't2.micro');
                    updateDropdownValue('selectedOptionInstanceType', 't2.micro')">t2.micro</a>

                <a class="dropdown-item" href="#" 
                    onclick="updateDropdownText('dropDownInstanceTypeText', 't4g.small');
                    updateDropdownValue('selectedOptionInstanceType', 't4g.small')">t4g.small</a>

                <a class="dropdown-item" href="#" 
                    onclick="updateDropdownText('dropDownInstanceTypeText', 't3a.small');
                    updateDropdownValue('selectedOptionInstanceType', 't3a.small')">t3a.small</a>
            </div>
        </div>
        <input type="hidden" id="selectedOptionInstanceType" name="selectedOptionInstanceType">
    </div>


    </br>

    <button type="submit" class="btn btn-primary"/>Submit</button>

</form>
{% endblock %}
