{% extends "base.html" %}

{% block title %} Custom Server Launcher {% endblock %}

{% block content %}
<h1 align="center" > Launch a custom server </h1>

<form method="POST">

    <div class="form-group">
        <label for="dropDownInstanceType">Instance Type</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownInstanceTypeText" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select an option
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownInstanceType">
                <a class="dropdown-item" href="#" 
                    onclick="updateComponentTextAndValue('dropDownInstanceTypeText', 'selectedOptionInstanceType' ,'t2.micro')">t2.micro</a>

                <a class="dropdown-item" href="#" 
                    onclick="updateComponentTextAndValue('dropDownInstanceTypeText', 'selectedOptionInstanceType' ,'t4g.small')">t4g.small</a>

                <a class="dropdown-item" href="#" 
                    onclick="updateComponentTextAndValue('dropDownInstanceTypeText', 'selectedOptionInstanceType' ,'t3a.small')">t3a.small</a>
            </div>
        </div>
        <input type="hidden" id="selectedOptionInstanceType" name="selectedOptionInstanceType">
    </div>

    <br>

    <div class="form-group">
        <label for="dropDownAmiType">AMI</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownAmiTypeText" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select an option
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownAmiType">
                <a class="dropdown-item" id="defaultAmiType" href="#" 
                    onclick="updateComponentTextAndValue('dropDownAmiTypeText', 'selectedOptionAmiType', 'ami-0c93065e42589c42b')">ami-0c93065e42589c42b</a>
            </div>
        </div>
        <input type="hidden" id="selectedOptionAmiType" name="selectedOptionAmiType">
    </div>

    </br>

    <button type="submit" class="btn btn-primary"/>Submit</button>

</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var defaultAmiTypeElement = document.getElementById('defaultAmiType');
        if (defaultAmiTypeElement) {
            defaultAmiTypeElement.click();
        }
    });
</script>
{% endblock %}
