{% extends "base.html" %}

{% block title %} Instance details {% endblock %}

{% block content %}
<h1 align="center" > Instance details </h1>
<h2>List of active instances</h2>

<form method="POST">
    {% for server_id in instance_aws_ids %}
        <p id="instance-server-{{ server_id }}">ID: {{ server_id }}</p> 

            <input type="hidden" name="server_id" value="{{ server_id }}">
            <button type="submit" id="button-server-{{ server_id }}" class="btn btn-danger"/>Delete</button>

        </br>
        </br>
        </br>
    {% endfor  %}
</form>
{% endblock %}