{% extends "base.html" %}

{% block title %} Instances details {% endblock %}

{% block content %}
<h1 class="extra-space-top" align="center" > Instances details </h1>
<h2>List of active instances</h2>

{% set terminable_instances = instances_info | selectattr('3', 'in', ['pending', 'running', 'stopping', 'stopped']) | list %}
{% set already_terminated_instances = instances_info | rejectattr('3', 'in', ['pending', 'running', 'stopping', 'stopped']) | list %}

{% if terminable_instances %}
    <h3 class="my-3">Instances that can be terminated</h3>
    <form method="POST">
        <div class="row">
            {% for server_id, public_ip, public_dns, state in terminable_instances %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-success">
                        <div class="card-header bg-success text-white">
                            Instance ID: {{ server_id }}
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Public IP:</strong> {{ public_ip }}</p>
                            <p class="card-text"><strong>Public DNS:</strong> {{ public_dns }}</p>
                            <p class="card-text"><strong>Current state:</strong> {{ state }}</p>
                            <input type="hidden" name="server_id" value="{{ server_id }}">
                            <button type="submit" id="button-server-{{ server_id }}" class="btn btn-danger">Delete</button>
            
                            {% if state == 'running' %}
                                <button type="button" id="stop-start-{{ server_id }}" class="btn btn-primary" onclick="toggleInstance('{{ server_id }}', 'stop')">Stop</button>
                            {% elif state == 'stopped' %}
                                <button type="button" id="stop-start-{{ server_id }}" class="btn btn-success" onclick="toggleInstance('{{ server_id }}', 'start')">Start</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endif %}

{% if already_terminated_instances %}
    <h3 class="my-3">Instances that cannot be terminated</h3>
    <div class="row">
        {% for server_id, public_ip, public_dns, state in already_terminated_instances %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border-secondary">
                    <div class="card-header bg-secondary text-white">
                        Instance ID: {{ server_id }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Public IP:</strong> {{ public_ip }}</p>
                        <p class="card-text"><strong>Public DNS:</strong> {{ public_dns }}</p>
                        <p class="card-text"><strong>Current state:</strong> {{ state }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}


<script>
    function toggleInstance(serverId, action) {
        fetch(`/toggle_instance`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'server_id': serverId,
                'action': action
            }),
        }).then(response => {
            return response.json();
        }).then(data => {
            if (data.success) {
                // Refresh the page after successful action
                window.location.reload();
            } else {
                console.error('Action failed');
            }
        }).catch(error => console.error('Error:', error));
    }
</script>
    

{% endblock %}