{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<h1 class="extra-space-top" align="center">Login page</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                <h3 align="center">Login</h3>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                </div>

                <div class="form-group position-relative">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
                    <span class="position-absolute" style="right: 10px; top: 38px; cursor: pointer;" onclick="togglePassword()">
                        <i id="togglePasswordIcon" class="fa fa-eye-slash"></i>
                    </span>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const togglePasswordIcon = document.getElementById('togglePasswordIcon');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordIcon.classList.remove('fa-eye-slash');
            togglePasswordIcon.classList.add('fa-eye');
        } else {
            passwordInput.type = 'password';
            togglePasswordIcon.classList.remove('fa-eye');
            togglePasswordIcon.classList.add('fa-eye-slash');
        }
    }
</script>

{% endblock %}